<script type="text/javascript">
  var maxPollsInDom = 5;
  $(document).ready(function(){
    getPolls(); 
    addPollsToDom();
  });
</script>

<h1>Published Polls</h1>

<div id="poll-count"></div>

<div id="polls-list">
</div>
<br>
<button id="see-more-polls" type="button">See More Polls</button>